<html>

<head>
    <title>Property Details Form</title>
</head>

<body>
    <h2 align="center">Property Details Submission</h2>
    <br />
    <form action="/predict" method="POST">
        <table align="center" cellpadding="10">

            <!----- City ---------------------------------------------------------->
            <tr>
                <td>City</td>
                <td>
                    <input type="text" name="city" list="city" maxlength="50" placeholder="Enter city name" />
                    <datalist id="city">
                        <option value="austin">
                        <option value="del valle">
                        <option value="pflugerville">
                        <option value="driftwood">
                        <option value="manchaca">
                        <option value="dripping springs">
                        <option value="west lake hills">
                    </datalist>
                </td>
            </tr>

            <!----- Description ---------------------------------------------------------->
            <tr>
                <td>Description</td>
                <td>
                    <textarea name="description" maxlength="500" placeholder="Enter property description"></textarea>
                </td>
            </tr>

            <!----- Home Type ---------------------------------------------------------->
            <tr>
                <td>
                    <input type="text" name="homeType" list="homeTypes" maxlength="50" placeholder="Enter home type" />
                    <datalist id="homeTypes">
                        <option value="Single Family">
                        <option value="Condo">
                        <option value="Townhouse">
                        <option value="Apartment">
                    </datalist>
                </td>
            </tr>

            <!----- Latitude ---------------------------------------------------------->
            <tr>
                <td>Latitude</td>
                <td>
                    <input type="text" name="latitude" maxlength="20" placeholder="Enter latitude" />
                </td>
            </tr>

            <!----- Longitude ---------------------------------------------------------->
            <tr>
                <td>Longitude</td>
                <td>
                    <input type="text" name="longitude" maxlength="20" placeholder="Enter longitude" />
                </td>
            </tr>

            <!----- Garage Spaces ---------------------------------------------------------->
            <tr>
                <td>Garage Spaces</td>
                <td>
                    <input type="number" name="garageSpaces" placeholder="Enter number of garage spaces" />
                </td>
            </tr>

            <!----- Has Spa ---------------------------------------------------------->
            <tr>
                <td>Has Spa</td>
                <td>
                    <input type="radio" name="hasSpa" value="1"> Yes </input>
                    <input type="radio" name="hasSpa" value="0"> No </input>
                </td>
            </tr>

            <!----- Year Built ---------------------------------------------------------->
            <tr>
                <td>Year Built</td>
                <td>
                    <input type="number" name="yearBuilt" placeholder="Enter year built" />
                </td>
            </tr>

            <!----- Number of Patio and Porch Features ---------------------------------------------------------->
            <tr>
                <td>Patio/Porch Features</td>
                <td>
                    <input type="number" name="numOfPatioAndPorchFeatures" placeholder="Enter number of features" />
                </td>
            </tr>

            <!----- Lot Size in SqFt ---------------------------------------------------------->
            <tr>
                <td>Lot Size (Sq Ft)</td>
                <td>
                    <input type="number" name="lotSizeSqFt" placeholder="Enter lot size in Sq Ft" />
                </td>
            </tr>

            <!----- Average School Rating ---------------------------------------------------------->
            <tr>
                <td>Average School Rating</td>
                <td>
                    <input type="number" name="avgSchoolRating" placeholder="Enter average school rating" />
                </td>
            </tr>

            <!----- Median Students Per Teacher ---------------------------------------------------------->
            <tr>
                <td>Median Students Per Teacher</td>
                <td>
                    <input type="number" name="MedianStudentsPerTeacher"
                        placeholder="Enter median students per teacher" />
                </td>
            </tr>

            <!----- Number of Bathrooms ---------------------------------------------------------->
            <tr>
                <td>Number of Bathrooms</td>
                <td>
                    <input type="number" name="numOfBathrooms" placeholder="Enter number of bathrooms" />
                </td>
            </tr>

            <!----- Number of Bedrooms ---------------------------------------------------------->
            <tr>
                <td>Number of Bedrooms</td>
                <td>
                    <input type="number" name="numOfBedrooms" placeholder="Enter number of bedrooms" />
                </td>
            </tr>

            <!----- Submit and Reset ---------------------------------------------------------->
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    &nbsp;&nbsp;
                    <input type="reset" value="Reset" onclick="location.href='/';">
                </td>
            </tr>
        </table>
    </form>

    <h3 align="center"> {{ prediction }} </h3>
</body>

</html>